name: Install Demo
run-name: Infra Install Demo

on:
  push:
    branches:
      - master  # 改成你的主分支名稱

  workflow_dispatch:

  schedule:
    - cron: '0 15 * * *'

jobs:
  master-node-install:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Check Linux Version
        run: |
          source /etc/os-release
          echo "$PRETTY_NAME"
          echo "安裝成功"

      - name: Set Hostname and Get IP
        run: |
          sudo hostnamectl set-hostname Test-Dev
          echo "MASTER_HOSTNAME=$(hostname)" >> $GITHUB_ENV
          echo "MASTER_IP=$(hostname -I | awk '{print $1}')" >> $GITHUB_ENV

      - name: Install Required Packages
        run: |
          # 修復可能的破損套件
          sudo dpkg --configure -a
          sudo apt-get install -f -y
          sudo apt-mark unhold nfs-kernel-server

          # 更新套件清單與升級
          sudo apt-get update --fix-missing
          sudo apt-get upgrade -y

          # 安裝基本工具
          sudo apt-get install -y --no-install-recommends curl wget git ansible openssh-server

          # 安裝 NFS
          sudo apt-get install -y --no-install-recommends nfs-kernel-server nfs-common

      - name: Set up Docker
        uses: docker/setup-docker@v4

      